* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


main {
    padding: 4rem 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.faq {
    margin: 2rem auto;
}

.question {
    padding-bottom: 1rem;
    font-size: 28px;
}

.answer {
    padding: 2rem 0;
}

.paragraph {
    padding: 0.5rem 0;
}